@{
    ViewData["Title"] = "Home Page";
}





<div id="TopShards">
    <div class="col-sm-2 TopShard" id="TopShard-1">TOP</div>
    <div class="col-sm-2 TopShard" id="TopShard-2">TOP</div>
    <div class="col-sm-4 TopShard" id="TopShard-3">TOP</div>
    <div class="col-sm-2 TopShard" id="TopShard-4">TOP</div>
    <div class="col-sm-2 TopShard" id="TopShard-5">TOP</div>
</div>

<div id="CenterContent">
    <div class="row">
        <div class="col-sm-3" id="LeftShards">
            LEFT
        </div>
        <div class="col-sm-6" id="MirrorCenter">
            <video  autoplay="true" id="videoElement" width="400" height="300"></video>

            <canvas id="imagecanvas" width="400" height="300"></canvas>
            <button id="snap" download="YourFileName.jpg">Ta foto</button>

        </div>
        <div class="col-sm-3" id="RightShards">
            RIGHT
        </div>
    </div>
</div>
<div id="BottomShards">
    <div class="col-sm-2 BottomShard" id="BottomShard-1">BOTTOM</div>
    <div class="col-sm-2 BottomShard" id="BottomShard-2">BOTTOM</div>
    <div class="col-sm-4 BottomShard" id="BottomShard-3">BOTTOM</div>
    <div class="col-sm-2 BottomShard" id="BottomShard-4">BOTTOM</div>
    <div class="col-sm-2 BottomShard" id="BottomShard-5">BOTTOM</div>
</div>
