.row{
    margin:0px;
    height:100%;
}

div[class^='col-'], div[class*='col-']{
    padding:0px;
}



html { height: 100%; }

body {
    height:100%;
    min-height: 100%;
    color: #FFFFFF;
    position: relative;
}
#TopShards {
    height:10%;
    width:100%;
    top:0px;
    left:0px;
    background: black;    
    text-align:center;
}
#BottomShards {
    height:10%;
    width:100%;
    bottom:0px;
    left:0px;
    background: black;
    text-align:center;
}
#CenterContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80%;
}

#MirrorCenter{
    background-color: black;
    height:100%;
    border:1px solid white
}


#LeftShards{
    background-color: black;
    height:100%;
}


#RightShards{
    background-color: black;
    height:100%;
    text-align:right;
}

.BottomShard{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.TopShard{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}




/*TESTING*/
#videoElement {
    height: 375px;
    width: 500px;
    background-color: #666;
}

#imagecanvas{
    position:absolute;
    right:0px;
    top:0px;
    height: 375px;
    width: 500px;
    background-color:white;
}